@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: Roboto, serif, sans-serif;
    box-sizing: border-box;
    margin: 0;
}


header h2 {
    background-color: #D1891C;
    color: black;
    font-size: 2rem;
    padding: 0.7rem 2rem;
    font-weight: 400;
}

header h1 {
    background-color:#00669F;
    color: white;
    font-size: 2.7rem;
    padding: 1rem  2rem;
    font-weight: 400;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5vh 0;
}

.batman {
    width: 24rem;
    background-color: #F3F3F3;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-batman {
    position: relative;
    background-image: url(../img/batmanBG.png);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
}

.bg-batman img {
    position: absolute;
    width: 10.1rem;
    height: 10.1rem;
    top: 13.5rem;
}

.batman h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 6.5rem;
}

.info {
    font-size: 1.5rem;
    text-align: justify;
    margin: 2.25rem;
}

.ver-mas {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 2rem;

}
.ver-mas p {
    background-color: #00669F;
    padding: 1.5rem 2.5rem ;
    margin-bottom: 2rem;
    border-radius: 1rem;
}






.best-woman {
    width: 24rem;
    background-color: #F3F3F3;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bg-maravilla {
    position: relative;
    background-image: url(../img/maravillaBG.png);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
}
.bg-maravilla img {
    position: absolute;
    width: 10.1rem;
    height: 10.1rem;
    top: 13.5rem;
}

.best-woman h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    padding-top: 6.5rem;
}




.superman {
    width: 24rem;
    background-color: #F3F3F3;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bg-superman {
    position: relative;
    background-image: url(../img/supermanBG.png);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
}
.bg-superman img {
    position: absolute;
    width: 10.1rem;
    height: 10.1rem;
    top: 13.5rem;
}

.superman h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 6.5rem;
}




.harley {
    width: 24rem;
    background-color: #F3F3F3;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bg-harley {
    position: relative;
    background-image: url(../img/harleyBG.png);
    background-size: cover;
    height: 18.5rem;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
}
.bg-harley img {
    position: absolute;
    width: 10.1rem;
    height: 10.1rem;
    top: 13.5rem;
}

.harley h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    padding-top: 6.5rem;
}


footer {
    background-color: #00669F;
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

footer img {
    position: absolute;
    right: 5rem;
    width: 10rem;
    height: 3rem;
}


